extends ../index/index.jade

block content
  h1 Pokemon Go Server Status
  .container
    .row
      .col-md-4.col-md-offset-4
        ul.services.list-group
          each status, index in locals.status.statuses
            li.list-group-item(class=status.sub ? 'sub' : '')
              | #{status.friendly}
              span.pull-right(class=status.statusCode)
                | #{status.text}
        div.updated
          | Last updated at #{locals.status.lastUpdated} GMT (#{locals.status.lastUpdatedHuman})
