extends ../index/index.jade

block content
  .container
    .row
      .col-md-12
        div.mm
          ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-6993069428952088" data-ad-slot="5169397643" data-ad-format="auto")
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
        .row
          .col-md-4
            h4.live-text(title="Updated every 5 seconds.")
              span
              | LIVE
          .col-md-8
            .text-right
              p Follow our Twitter for server status updates the second any problems start occuring!
              | <a href="https://twitter.com/PokeGo_Status" class="twitter-follow-button" data-show-count="false">Follow @PokeGo_Status</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              | <div class="fb-like" style="vertical-align: top;" data-href="https://www.facebook.com/pokegostatus" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>  
        div#global-status
    .row
      .col-md-4
        h4.list-group-item Login Servers
        li.list-group-item.sub(id="global")
          span.title Google
          span.pull-right
            span.time
            span.value Loading...
          span.explanation
        li.list-group-item.sub(id="ptc")
          span.title PTC
          span.pull-right
            span.time
            span.value Loading...
          span.explanation
        h4.list-group-item Game Servers
        li.list-group-item.sub#generalStatus
          span.title Status
          span.pull-right
            span.value Loading...
          span.explanation
        li.list-group-item.sub#totalCount
          span.title Total Servers
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#onlineCount
          span.title Servers Online
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#offlineCount
          span.title Servers Offline (On standby)
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#normalLoadCount
          span.title.normal-load Normal Load
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#mediumLoadCount
          span.title.medium-load Medium Load
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#highLoadCount
          span.title.high-load High Load
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#maxLoadCount
          span.title.max-load Max Load
          span.pull-right
            span.value Loading...
        div.mm
          ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-6993069428952088" data-ad-slot="9503695649" data-ad-format="auto")
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
      .col-md-8
        h4.list-group-item PTC Login Response Times (seconds)
        .list-group-item#ptc-graph-loader Loading...
        .historical-chart
          #ptc-graph.plotly-graph(height="165")
        h4.list-group-item Google Login Response Times (seconds)
        .list-group-item#google-graph-loader Loading...
        .historical-chart
          #google-graph.plotly-graph(height="165")
        h4.list-group-item Pokemon Go Gear
        .list-group-item
          script(type="text/javascript").
            amzn_assoc_placement = "adunit0";
            amzn_assoc_search_bar = "false";
            amzn_assoc_tracking_id = "pokegostatus-20";
            amzn_assoc_ad_mode = "manual";
            amzn_assoc_ad_type = "smart";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_title = "";
            amzn_assoc_linkid = "dbaaf63302a4349bda856eda84576d18";
            amzn_assoc_asins = "B01I8RXB20,B01I8SD7CI,B01I8SUAF0,B01H482N6E";
          script(src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US")
        h4.list-group-item Game Server Response Times (seconds)
        .list-group-item#server-graph-loader Loading...
        .historical-chart
          #server-graph.plotly-graph(height="165")
    
    section.home
      h2 Pokémon Go Server Blog
      .row
        .col-md-8
          .news
            article
              header
                h1=locals.latestBlog.title
                p
                  span
                    | By #{locals.latestBlog.author}&nbsp;/&nbsp;
                  time(datetime=locals.latestBlog.published_at) 18 days ago
                h2=locals.latestBlog.sub_title
              div
                div.markdown=locals.latestBlog.short_content
                a.btn.btn-primary.btn-block(href="/blog/" + locals.latestBlog.seo_url title="Read more about " + locals.latestBlog.title) Read More
        .col-md-4
          div.mm
            ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-6993069428952088" data-ad-slot="6908326046" data-ad-format="auto")
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});
          
    footer
      p For further info and business enquiries: <a href="mailto:contact@pokegostat.us">contact@pokegostat.us</a>.
      p This website is not affiliated in any way with Niantic, The Pokemon Company or Nintendo.
      p Built and maintained by Gamerstats.net.
      p Play Rocket League? Check out and compare your ranks and stats at <a href="https://rocketleaguerank.com" title="Rocket League Rank">Rocket League Rank</a>.

block scripts
  script(type="text/javascript" src="/js/status.js")
