extends ../index/index.jade

block content
  //- h1 Pokemon Go Server Status
  .container
    .row
      .col-md-4.col-md-offset-4
        | <a href="https://twitter.com/PokeGo_Status" class="twitter-follow-button" data-show-count="false">Follow @PokeGo_Status</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        | <div class="fb-like" data-href="https://www.facebook.com/pokegostatus" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        ul.services.list-group
            h4.list-group-item Login Servers
            each status, index in locals.status.globalStatuses
              li.list-group-item.sub(id=status.region)
                span.title #{status.friendly}
                span.value.pull-right(class=status.statusCode)
                  | #{status.text}
            h4.list-group-item Game Servers (Regions)
            each status, index in locals.status.regionStatuses
              li.list-group-item.sub(id=status.region)
                span.title #{status.friendly}
                span.value.pull-right(class=status.statusCode)
                  | #{status.text}
            h4.list-group-item Statistics (All)
            li.list-group-item.sub#totalCount
              span.title Total Servers
              span.pull-right
                span.value #{locals.status.stats.totalCount}
            li.list-group-item.sub#onlineCount
              span.title Servers Online
              span.pull-right
                span.value #{locals.status.stats.onlineCount}
            li.list-group-item.sub#offlineCount
              span.title Servers Offline
              span.pull-right
                span.value #{locals.status.stats.offlineCount}
            li.list-group-item.sub#normalLoadCount
              span.title.normal-load Normal Load
              span.pull-right
                span.value #{locals.status.stats.normalLoadCount}
            li.list-group-item.sub#mediumLoadCount
              span.title.medium-load Medium Load
              span.pull-right
                span.value #{locals.status.stats.mediumLoadCount}
            li.list-group-item.sub#highLoadCount
              span.title.high-load High Load
              span.pull-right
                span.value #{locals.status.stats.highLoadCount}
            li.list-group-item.sub#maxLoadCount
              span.title.max-load Max Load
              span.pull-right
                span.value #{locals.status.stats.maxLoadCount}
        //- div.updated
        //-   | Last updated at #{locals.status.lastUpdated} GMT (#{locals.status.lastUpdatedHuman})

  footer
    | This website is a work in-progress. <br>
    | Real-time updating, historical uptime graphs, more service statuses and other features to come very shortly!
