extends ../index/index.jade

block content
  h1 Pokemon Go Server Status
  .container
    .row
      .col-md-4.col-md-offset-4
        ul.services.list-group
            h4.list-group-item Login Servers
            each status, index in locals.status.loginStatuses
              li.list-group-item.sub
                | #{status.friendly}
                span.pull-right(class=status.statusCode)
                  | #{status.text}
            h4.list-group-item Game Servers
            each status, index in locals.status.statuses
              li.list-group-item.sub
                | #{status.friendly}
                span.pull-right(class=status.statusCode)
                  | #{status.text}
        div.updated
          | Last updated at #{locals.status.lastUpdated} GMT (#{locals.status.lastUpdatedHuman})

  footer
    | This website is a work in-progress. <br>
    | Real-time updating, historical uptime graphs, more service statuses and other features to come very shortly!
